<form action="/<%= params[:filename] %>" method="post">
  <label for="content">Edit content of '<%= params[:filename] %>':</label>
  <div>
    <textarea name="content" id="content" rows="20" cols="80"><%=@file%></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>