<form action="/new" method="post">
  <label for="filename">Add a new document:</label>
  <br />
  <input class="new" type="text" name="filename" placeholder="HelloWorld.md / NewDocument.txt" value="<%= params[:filename] %>"></input>
  <button type="submit">Create</button>
</form>