<form action="/new" method="post">
  <label for="filename">Add a new document:</label>
  <br />
  <input type="text" name="filename" placeholder="New Document" value="<%= params[:filename] %>"></input>
  <button type="submit">Create</button>
</form>