<h3>Registration</h3>
<form action="/users/signup" method="post">
  <div>
    <label for="username">Username:
      <input type="text" name="username" value="<%=h(@username)%>"/>
    </label>
  </div>
  <div>
    <label for="password">Password:
      <input type="password" name="password" value="<%=h(@password)%>"/>
    </label>
  </div>
  <button type="submit">Register Me!</button>
</form>