<h3>Content Management System</h3>
<h2>Please Sign-in to Continue</h2>
<br />
<form action="/users/signin" method="post">
  <div>
    <label for="username">Username:
      <input type="text" name="username" value="<%=h(@username%>)"/>
    </label>
  </div>
  <div>
    <label for="password">Password:
      <input type="password" name="password" value="<%=h(@password)%>"/>
    </label>
  </div>
  <button type="submit">Sign In</button>
</form>

<a href="/users/signup"><button type="submit">Sign Up</button></a>