h1 {
  font-size: 32px;
  margin: 20px 0px 10px 0px;
}

h3 {
  font-size: 24px;
  margin: 15px 0px 10px 0px;
}

h4 {
  font-size: 18px;
  margin: 15px 0px 10px 0px;
}

a {
  font-size: 19px;
}

body {
  font-family: Lato, sans-serif;
  padding: 10px 20px;
}

.text-box {
  height: 500px;
  font-size: 20px;
}

.message {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #FFFFD0;
  border-radius: 6px;
  display: inline-block;
}

button {
  display: inline;
  margin: 0px;
  padding: 0px;
  width: 8em;
  height: 2em;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}

ul li {
  padding-bottom: 10px;
}

.url-input {
  width: 80%;
  height: 1.5em;
  font-size: 20px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  display: block;
  margin: 10px 0px;
}


